<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--- Bootstrap CSS --->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- Custom CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='load.js') }}"></script>

        <title>WFP 🤝 NYC</title>
    </head>
    <body>
        <div class="container">
            <h1>Working Familes in NYC</h1>
            <p>This map represents the <a href="https://workingfamilies.org" target="_blank"><b>Working Families Party</b></a> share of Harris votes per NY Election District</p>
        </div>
        <div class="map-container">
            <p class="loadingText" id="loadingText">Map Loading</p>
            <iframe 
                src="https://giphy.com/embed/3oEjI6SIIHBdRxXI40"
                id="loadingElement" 
                class="loadingElement" 
                frameBorder="0" 
                allowFullScreen></iframe>
            <iframe 
                src="{{ url_for('static', filename='wfp_nyc.html') }}" 
                id="wfp-map"
                class="wfp-map"
                type="text/html"
                allowfullscreen
                onload="loadMap()"
            >WFP Map</iframe>
        </div>
    </body>
</html>