body {
    text-align: center;
    font-family: monospace;
}

.container {
    margin: 0 auto;
    padding: 0.5%;
}

.container a {
    text-decoration: none;
    color: black;
}

.wfp-map {
    width: 90%;
    height: 90%;
    display: none;
}

.loadingElement {
    position: 'inline';
}

.loadingText {
    position: 'block';
}